*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Fjalla One';
}

.wrapper{
    background-color: #ebebeb;
}
.navBar{
    height: 70px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    

}

.navChild{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

h1{
    color: white;
    font-size: 30px;
}

.t{
    width: 30%;
    display: flex;
}

.searchButton{
    border: transparent;
    background:transparent;
    cursor: pointer;
}

input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

.heroClass{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.tempSection{
    padding-top: 100px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: flex-start;
   
   

}

.divBlock{
    height: 120px;
    width: 46%;
    border: 1px yellow solid;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 5px;
    -webkit-box-shadow: 7px 10px 21px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 21px -17px rgba(0,0,0,0.75);
box-shadow: 7px 10px 21px -17px rgba(0,0,0,0.75);
background-color: whitesmoke;

}
 h2{
    color: #407bff;
 

}

.tempSection h1{
    color: black;
}

.tempContent{
    display: flex;
    justify-content: space-evenly;
}

.humidContent{
    display: flex;
    justify-content: space-evenly;

}

.precContent{
    display: flex;
    justify-content: space-evenly;

}
.cloudContent{
    display: flex;
    justify-content: space-evenly;

}

.windContent{
    display: flex;
    justify-content: space-evenly;

}

.uvContent{
    display: flex;
    justify-content: space-evenly;

}

.text{
    padding-top: 13px;
    margin-left: -5px;
}

.logoClass{
    display: flex;
}